@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Inter, sans-serif;
  background: var(--light-gray-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

 h4 {
  color: var(--gray-font);
  align-self: flex-start;
}

.ticker {
  display: flex;
  width: 100%;
}

:root {
  --dark-gray-bg: #191b1f;
  --light-gray-bg: #1f2128;
  --gray-select: #2c2f36;
  --gray-font: #c3c5cb;
  --dark-gray-font: #545868;
  --error: #fd4040;
  --validate: #27ae60;
  color-scheme: dark;
}
