.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 65%;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.graphCard {
  width: 48%;
  height: 350px;
  background-color: var(--dark-gray-bg);
  border-radius: 16px;
  padding: 0 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graphValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphValue div {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.graphCard h4 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-font);
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  background: var(--dark-gray-bg);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 20px;
}

.info > span {
  color: var(--gray-font);
  font-weight: 500;
}

.info span:nth-child(2) {
  color: white;
  font-weight: 600;
}

 @media (max-width: 1200px) {

  .overview {
    width: 90%;
  }

  .cardContainer {
    flex-direction: column;
  }

  .graphCard {
    width: 100%;
  }

  .infoContainer {
    display: none;
  }
}

@media (max-width: 768px) {


  .graphCard {
    height: 250px;
  }

}



