.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10%;

}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview h4 {
  color: var(--gray-font);
  align-self: flex-start;
}
