.tokenInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  align-items: flex-start;
    font-family: Inter, sans-serif;
    padding: 0 10%;
}

.tokenInfo > nav > ol {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;

    }

.tokenInfo > nav > ol > li {
    cursor: pointer;
    font-weight: 500;
    color: var(--gray-font);
    margin-right: 8px;
    font-size: 16px;
}



.tokenInfo > nav > ol > li:after {
    content: ">";
    display: inline-block;
    margin-left: 8px;
  }

.tokenInfo > nav > ol > li:last-child:after {
    content: "";
}

.brActive > *{
    color: white;
  }

  .header {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .left {
     display: flex;
    flex-direction: column;
    line-height: 0.8;
    gap: 12px;

  }

  .right {
    align-self: flex-end;
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }

  .name {
    font-weight: 500;
    color: white;
    margin-left: 10px;
  }

  .id {
    color: var(--gray-font);
    margin-left: 10px;
    font-size: 20px;

  }

  .price {
    font-size: 36px;
    font-weight: 500;
    margin-right: 10px;

  }

  .change24 {
    font-size: 16px;
  }

  .right {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
  }

  .right button {
    padding: 8px 24px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    height: 44px;
    outline: none;
  }

  .right button div {
    font-size: 16px;
    font-weight: 600;
    font-family: Inter, sans-serif;
  }

  .right > button:first-child {
    background-color: rgb(64, 68, 79);
    color: rgb(195, 197, 203);
    margin-right: 10px;
  }

  .right > button:last-child {
    background-color: rgb(120, 134, 134);
    color: white;
  }

  /* Volume info */

  .volumeInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-gray-bg);
    width: 30%;
    border-radius: 16px;
    padding: 1rem;
    padding-bottom: 60px;
    gap: 24px;

  }

  .volumeInfo > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title {
    font-weight: 400; 
    color: var(--gray-font);
    font-size: 16px;
    margin: 0;
  }

  .value {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }

  .variation {
    font-size: 16px;
    color: green;
    font-weight: 500; 
  }

  .main {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin-top: 16px;
  }

  .volumeChartsContainer {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    background-color: var(--dark-gray-bg);
  }


