.topMovers {
    width: 100%;
    background-color: var(--dark-gray-bg);
    padding: 10px;
    border-radius: 16px;
    margin-top: 20px;
}


.topMovers h5 {
    color: var(--dark-gray-font);
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 10px 0;
}

.movers {
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .topMovers {
        display: none
    }
}
