.topTokens {
  width: 100%;
}

.tokenContainer {display: contents;}

.topTokens h4 {
  color: var(--gray-font);
}

.topTokensList {
  border-radius: 16px;
  padding: 1rem;
  background-color: rgb(25, 27, 31);
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.topTokensListLegend {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 20px 3fr repeat(3, 1fr);
}

.legend,
.legendR {
  color: var(--gray-font);
}

.legendR {
  justify-self: end;
}
.separator {
  height: 1px;
  background-color: rgb(31, 33, 40);
  width: 100%;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center
}

.page {
  margin: 0 20px;
  color: white;
}

.paginationArrow {
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(102%) contrast(101%);
}
