.trading {
    background-color: var(--dark-gray-bg);
    width: 100%;
    border-radius: 16px;
}

.tradingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    padding: 1rem;
    
}

.tradingInput {
    width: 100%;
}

.tradingInput label {
    color: var(--gray-font);
}

.tradingInput input {
    background-color: var(--light-gray-bg);
    border-radius: 16px;
    padding: 1rem;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: white;
    margin-top: 10px;
    
}

.tradingInput input:focus::placeholder {
    color: transparent;
  }

.sendButton {
    background-color: transparent;
    border: 1px solid var(--gray-font);
    border-radius: 90px;
    color: var(--gray-font);
    padding: 10px 50px;
    font-size: 1.2rem;
    align-self: start;
    cursor: pointer;
    transition: all 0.3s;

}

.sendButton:hover {
    color: white;
    transition: all 0.3s;
}